{% extends "base.html" %}

{% block content %}
{% set gallery_root = config.extra.gallery_root %}
{% set event_photos = config.extra.event_photos_url %}
{{ section.content | safe }}
<div id="controls">
    <button type="button" id="start-slideshow">
        Launch slideshow in fullscreen
    </button>

    <div>
        <details>
            <summary>Controls</summary>
            <fieldset>
                <legend>Select speed</legend>
                <input id="rapid" type="radio" name="speed" value="5000" />
                <label for="rapid"> Rapid (5s) </label>
                <input id="fast" type="radio" name="speed" value="10000" checked />
                <label for="fast"> Fast (10s) </label>
                <input id="slow" type="radio" name="speed" value="30000" />
                <label for="slow"> Slow (30s) </label>
                <input id="art" type="radio" name="speed" value="60000" />
                <label for="art"> Art Gallery (60s) </label>
            </fieldset>
        </details>
    </div>
</div>

<div id="slideshow-container" data-gallery-root="{{ gallery_root }}" data-event-photos="{{ event_photos }}">
    <img class="pic" />
    <img class="pic spare" id="original-spare" />
    <aside id="caption">
        <span class="text"></span>
        <br/>
        <span class="event"></span>
        <span class="source"></span>
    </aside>
</div>
{% endblock %}
