{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="slideshow.css", trailing_slash=false) }}"/>
{% endblock %}
{% block content %}
{% set gallery_root = config.extra.gallery_root %}
{% set event_photos = config.extra.event_photos_url %}
{% set talent_photos = config.extra.talent_photos_url %}
{{ section.content | safe }}
<div id="controls">
    <button type="button" id="start-slideshow">
        Launch slideshow in fullscreen
    </button>

    <div>
        <details>
            <summary>Controls</summary>
            <fieldset>
                <div>
                    <span>Speed: </span>
                    <input id="rapid" type="radio" name="speed" value="5000" />
                    <label for="rapid"> Rapid (5s) </label>
                    <input id="fast" type="radio" name="speed" value="10000" checked />
                    <label for="fast"> Fast (10s) </label>
                    <input id="slow" type="radio" name="speed" value="30000" />
                    <label for="slow"> Slow (30s) </label>
                    <input id="art" type="radio" name="speed" value="60000" />
                    <label for="art"> Art Gallery (60s) </label>
                </div>
                <div>
                    <input id="progressbar_visible" name="progressbar_visible" type="checkbox" name="progressbar_visible">
                    <label for="progressbar_visible">Show slide progress</label>
                </div>
                <div>
                    <span>Filter: </span>
                    <input id="filter_events" type="checkbox" name="filter" value="event" checked />
                    <label for="filter_events">Events</label>
                    <input id="filter_talent" type="checkbox" name="filter" value="talent" checked />
                    <label for="filter_talent">Talent</label>
                    <input id="filter_venues" type="checkbox" name="filter" value="venue" checked />
                    <label for="filter_venues">Venues</label>
                    <input id="filter_championships" type="checkbox" name="filter" value="championship" checked />
                    <label for="filter_champ">Championships</label>
                    <input id="filter_articles" type="checkbox" name="filter" value="article" checked />
                    <label for="filter_articles">Other articles</label>
                </div>
            </fieldset>
        </details>
    </div>
</div>

<div id="slideshow-container"
     data-gallery-root="{{ gallery_root }}"
     data-talent-photos="{{ talent_photos }}"
     data-event-photos="{{ event_photos }}">
    <img class="pic" />
    <img class="pic spare" id="original-spare" />
    <aside id="caption">
        <span class="text"></span>
        <br/>
        <span class="event"></span>
        <span class="source"></span>
        <br/>
        <progress max="100" />
    </aside>
</div>
{% endblock %}
